*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*~
.#*
.*.swp
.*.swo
.DS_Store
language.settings.xml
.settings
*.cs.orig
*.exe
*.pdb
*.manifest
*.Cache
*.suo
*.user
StyleCop.Cache
sqlnet.log

\project\f1optimizer\bin\
\project\f1optimizer\obj\