*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*~
.#*
.*.swp
.*.swo
.DS_Store
language.settings.xml
.settings
*.cs.orig

*.Cache
*.suo
*.user
StyleCop.Cache
sqlnet.log
/clickonce/
/deployment/ConfigFiles/INT/
/deployment/ConfigFiles/Integration/
/deployment/ConfigFiles/Prod/
/deployment/ConfigFiles/Production/
/deployment/Deployed_paket/
/deployment/Freeze paket/
/deployment/Freeze/
/deployment/Freeze_paket/
/integrationservices/*/*/*.bak
/integrationservices/*/*/bin/
/integrationservices/*/*/obj/
/integrationservices/DtxHelperTest
/integrationservices/Index.dat
/integrationservices/Storage.dat
/isvisuplus/*.dat
/isvisuplus/*/*/*/*/*/bin/
/isvisuplus/*/*/*/*/*/cachecleaner/
/isvisuplus/*/*/*/*/*/obj/
/isvisuplus/*/*/*/*/bin/
/isvisuplus/*/*/*/*/cachecleaner/
/isvisuplus/*/*/*/*/obj/
/isvisuplus/*/*/*/bin/
/isvisuplus/*/*/*/cachecleaner/
/isvisuplus/*/*/*/obj/
/isvisuplus/*/*/bin/
/isvisuplus/*/*/cachecleaner/
/isvisuplus/*/*/obj/
/isvisuplus/*/bin/
/isvisuplus/*/cachecleaner/
/isvisuplus/*/obj/
/isvisuplus/bin/
/isvisuplus/cachecleaner/
/isvisuplus/obj/
/isvisuplus/UIComponents/SmartClient/IsVisuPlusUISmartClient/Resources/UIResources.Designer.cs
/isvisuplus/UIComponents/SmartClient/IsVisuPlusUISmartClient/Resources/UIResources.de.resx
/isvisuplus/UIComponents/SmartClient/IsVisuPlusUISmartClient/Resources/UIResources.resx
/isvisuplus/processcontroller/processmasterdata/helpgenerator/
/isvisuplus/processcontroller/processmasterdata/reportdescriptiontool/*
/isvisuplus/userinterface/downloadsuserinterface/Resources/
/reports/*.data
/reports/*.log
/reports/*/*/bin/
/reports/*/*/obj/
/reports/reports/*/*.data
/reports/templates/*.data
/reports/templates/bin
/reportserveraccess/
/seu/*.log
/seu/isvisuplushelp/*.chm
/seu/isvisuplushelp/HelpPolicyProcessor.log
/seu/isvisuplushelp/generated/
/seu/isvisuplushelp/hhc_de.log
/seu/isvisuplushelp/hhc_en.log
/seu/release/
/seu/scripts/dbscripts_*/*/CreateScripts/*.log
/seu/scripts/*/*/*/executed_scripts/
/seu/stylecop/StyleCopResult/StyleCopReport.xml
/seu/tools/StyleCheckerLibrary/StyleCheckerLibrary/bin
/seu/tools/StyleCheckerLibrary/StyleCheckerLibrary/obj
.svn/
*.data
WindowFormsTest/MVCFormsPattern/bin/
WindowFormsTest/MVCFormsPattern/obj/
WindowFormsTest/PopupDialog/bin/
WindowFormsTest/PopupDialog/obj/
isvisuplus/processcontroller/processmasterdata/isvisuclient/IS-VisuPlus_Help_en.chw
